.links a {
	color: #45546b;
}
address a {
	color: #45546b;
}
.cube1, .cube2 {
	background-color: #45546b;
}
.color-text {
	color: #45546b;
}
.colored-bg{
color: #fff;
	background-color: #45546b;
}
.bluish-grey-bg {
	background-color: #45546b;
}
.dark-bluish-grey-bg {
	background-color: #45546b;
}
.tp-banner .slider-btn {
	border: 2px solid #45546b;
	background-color: #45546b;
}
#navigation ul.nav a:hover {
	color: #45546b;
}
#navigation ul.nav .current a {
	color: #45546b;
}
.fun-facts .white-box {
	color: #45546b;
}
.fun-facts .white-box:hover {
	background-color: #45546b;
}
#services .s-items a:hover {
	color: #45546b;
}
#services .s-items:hover a {
	color: #45546b;
}
.icons {
	background-color: #45546b;
	border: 2px solid #45546b;
}
.icons:hover {
	color: #45546b;
	border: 2px solid #45546b;
}
.services-detail .heading {
	color: #45546b;
}
.services-detail .close-detail a {
	color: #45546b;
}
.services-detail .close-detail:hover a {
	color: #45546b;
}
#options ul li:hover a, #options ul li a.selected {
	border: 1px solid #45546b;
	background-color: #45546b;
}
#container-thumbs .items .picture {
	background: #45546b;
}
#container-thumbs .items .details {
	background: #45546b;
}
.portfolio-detail .items .details {
	background: #45546b;
}
.portfolio-detail .heading {
	color: #45546b;
}
ul.social-icons li a:hover {
	background-color: #45546b;
}
.team-members .details {
	background: #45546b;
}
.team-members:hover .details {
	background: #45546b;
}
.team-members .picture {
	background: #45546b;
}
.post .picture {
	background: #45546b;
}
.post .details {
	background: #45546b;
}
.post .description a.blog-btn {
	color: #45546b;
}
.post .description a:hover.blog-btn {
	color: #45546b;
}
#blog .social-icons ul li a:hover {
	background-color: #45546b;
}
.post-comment .btn-default {
	background-color: #45546b;
	border-color: #45546b;
}
.tag-list a:hover {
	background-color: #45546b;
}
.form-control:focus {
	border-color: #45546b;
}
.btn-default {
	background-color: #45546b;
	border-color: #45546b
}
.scrollup {
	background-color: #45546b;
}
